  .view-filters {
    background: #EAEAEA;
    padding: 1em;
    border-radius: 3px;
    @include breakpoint($phone-lg2, $no-query: '.no-mq') {
      //@include grid-span(3,10);
    }
    input {
      margin: 1.25em 0;
      width: 100%;
      &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder,  {
         color: #4A4A4A;
      }
    }
  }

.directory-listings {

  .listings-view, .pagination {
    @include clearfix;
    @include breakpoint($phone-lg2, $no-query: '.no-mq') {
      //@include grid-span(9,1);
    }
  }
  .listings-view.main-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    .listing {
      width: 100%;
      margin: 1em 0;
      @include breakpoint(500px) {
        width: 48%;
        margin: 1em 1%;
      }
      @include breakpoint($phone-lg2, $no-query: '.no-mq') {
        height: auto;
        width: 30%;
        margin: 1em 1.5%;
        border-radius: 3px;
      }
    }

  }

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      border: 1px solid #DEDEDE;
      padding: 0;
      @include clearfix;
    }
  }
   p {
      margin: 0;
    }

  .listing-logo {
    @include breakpoint($phone-lg2, $no-query: '.no-mq') {
      //@include grid-span(3,1);
    }
    //margin-bottom: 1em;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;

    }
  }
  .listing-content {
    padding: 1em;
    @include breakpoint($phone-lg2, $no-query: '.no-mq') {
      //@include grid-span(4,4.25);
    }
  }
  .listing-link {
    text-decoration: none;
  }
  .business {
    color: $explore;
    font-size: 1.3em;
    margin: 0 0 .25em;
  }

  .location-details {
    font-size: 0.8em;
    //margin-bottom: .75em;
  }
  .listing-details {
    margin-bottom: .75em;
    .label {
      font-weight: 700;
    }
    .phone {
      margin-top: .25em;
    }
  }


}