// This is for news or blog view
article.post {
    padding-bottom: 1.5em;
    h2 {
      margin-bottom: 0;
    }
    span.post-date {
        margin: 0 0 1em;
        font-style: italic;
        font-size: 1em;
        display: block;
    }
}