<div id="form-message">{{page.form_response_message}}</div>
<form id="form" method="post" class="contact-form" action="/contact/?sent=true">
    <!--<input type="hidden" name="_to" value="pam@greeleydowntown.com,bianca@greeleydowntown.com,alison@greeleydowntown.com,karen@greeleydowntown.com">-->
    <input type="hidden" name="_to" value="brent@variantstudios.com">
    <input type="hidden" name="_subject" value="Contact form submitted on DDA website">

    <!-- all your input fields here.... -->
    <div class="webform-component">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="">
    </div>
    <div class="webform-component">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="">
    </div>
    <div class="webform-component">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6" cols="25"></textarea>
    </div>
    <div class="webform-component">
        <div class="g-recaptcha" data-sitekey="6LcfAAgUAAAAAHa4hua839vpLM4BubtgJ58MOuhY"></div>
        <input type="text" name="_gotcha" style="display: none;">
        <div id="fail"><p>{{page.form_failed}}</p></div>
    </div>
    <div class="webform-component">
        <input class="sendButton" type="submit" name="Submit" value="Send">
    </div>
</form>
