<div class="footer-wrapper">
    <footer class="wrap footer-blocks clearfix">
        <div class="footer-block footer-block-one">
            <img src="/assets/images/greeleydda_logo.svg" alt="Greeley Downtown">
        </div>
        <div class="footer-block footer-block-two">


            <div>

                <form action="//greeleydowntown.us13.list-manage.com/subscribe/post?u=ee269bb6e4416c2ba8776f6c7&amp;id=318a45be00" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="ctct-custom-form Form validate" target="_blank" novalidate>

    <h5>Signup for our E-Newsletter</h5>

    <div class="form-item compact-form-wrapper" id="edit-cc-email-wrapper">
        <input type="email" value="" name="EMAIL" class="required email form-text required compact-form-field" id="mce-EMAIL" placeholder="Your Email">    
    </div>
    <input type="submit" name="op" id="edit-submit" value="Signup" class="form-submit" data-enabled="enabled" size="30">

<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee269bb6e4416c2ba8776f6c7_318a45be00" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button form-submit"></div>

</form>
                
                
                <span id="success_message" style="display:none;">
                 <div style="text-align:center;">Thanks for signing up!</div>
             </span>
            </div>
            <script type='text/javascript'>
                var localizedErrMap = {};
                localizedErrMap['required'] = 'This field is required.';
                localizedErrMap['ca'] = 'An unexpected error occurred while attempting to send email.';
                localizedErrMap['email'] = 'Please enter your email address in name@email.com format.';
                var postURL = 'https://visitor2.constantcontact.com/api/signup';
            </script>
            <script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
            <!--End CTCT Sign-Up Form-->

        </div>
        <div class="footer-block footer-block-three">
            <div class="social fb">
                <a href="https://www.facebook.com/DowntownGreeley/"><img src="/assets/images/fb.svg" alt="Follow us on Facebook"><span>Follow us on Facebook</span></a>
            </div>
            <div class="social insta">
                <a href="https://www.instagram.com/downtowngreeley/"><img src="/assets/images/insta.svg" alt=""><span>Follow us on Instagram</span></a>
            </div>
            <div class="social pin">
                <a href="https://www.pinterest.com/greeleydowntown/"><img src="/assets/images/pin.svg" alt=""><span>Follow us on Pinterest</span></a>
            </div>
        </div>
    </footer>
    <footer class="wrap bottom clearfix">
        <div class="copy">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</div>
        <div class="site-by">Website by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a></div>
    </footer>
</div>
