
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/assets/js/prod/scripts.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
<script type="text/javascript">
  
$(".action--open").click(function() {
  $(".menu").addClass("menu--open");
});
$(".action--close").click(function() {
  $(".menu").removeClass("menu--open");
});

</script>

<script type="text/javascript">
$(".gallery-item").colorbox({rel:'gallery-item'});
</script>

{% if page.url == "/help/" %}
  <!-- http://projects.jga.me/toc/ -->
	<script src="/assets/js/prod/toc.min.js"></script>
  <!-- https://github.com/garand/sticky -->
	<script src="/assets/js/prod/jquery.sticky.js"></script>
	<script src="/assets/js/prod/dda.toc.js"></script>
{% endif %}

{% if site.google_analytics_tracking_id %}
<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}