<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script src="/assets/js/prod/scripts.js"></script>

{% if page.url == "/contact/" or page.url == "/listing-claim/" or page.url == "/get-involved/"%}
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="/assets/js/prod/staticformapp.js"></script>
{% endif %}
{% if page.path contains '_gallery' %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
{% elsif page.path contains '_properties' %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
{% endif %}

{% if page.url == "/listing-claim/" %}
	<script>
	// GET URL VALUE FOR CLAIM FORM
	function querySt(name) {
		hu = window.location.search.substring(1);
		gy = hu.split("&");
		for (i=0;i<gy.length;i++) {
			ft = gy[i].split("=");
			if (ft[0] == name) {
				return ft[1];
			}
		}
	}
	var urlName = querySt("name").replace(/%20/g, " ").replace(/%27/g, "'");
	document.getElementById('business-name').value = urlName;
	</script>
{% endif %}

{% if page.url == "/help/" %}
	<script src="/assets/js/prod/toc.min.js"></script>
	<script src="/assets/js/prod/jquery.sticky.js"></script>
	<script src="/assets/js/prod/dda.toc.js"></script>
{% endif %}

{% if site.google_analytics_tracking_id %}
	<!-- google analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
	  ga('send', 'pageview');
	</script>
{% endif %}
