.logo {
  text-align: center;
  margin: 0 auto;
  padding: 1.5em 1em .5em;
  @include clearfix;
  vertical-align: middle;
  background: #1F2021;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    display: block;
  }
}