.menu {
  padding: 0;
  margin: 0;
  font-family: $heading-font-family;
  overflow: hidden;
  li {
    list-style: none;
    margin: 0;
    display: inline-block;
  } 
  a, a:visited { text-decoration: none; }
}
nav.main-nav {
  font-size: 1.7em;
  padding: .75em 0 0;
  font-weight: 700;
  @include breakpoint($desktop, $no-query: '.no-mq') {
    font-size: 1.9em;
    padding: .5em 0 0;
  }
  ul.menu {
    text-align: center;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      // Drop down menu styling
      ul {

      }
      li:hover {
        ul {
         
          li {
            display: block;
            &:hover {  }
          }
        }
      }
    }
  }
  li {
    padding: 0 1em;
    @include breakpoint($phone-lg2, $no-query: '.no-mq') { 
       padding: 0 1em;
    }
    li {

    }
  }
  a, a:visited {
    color: #fff;
    &.active {
      @include breakpoint($tablet, $no-query: '.no-mq') {
        &:before, &:after {

        }
        
      }
    }
  }
}

