input[type="submit"], button {
  box-sizing: border-box;
  padding: .5em 1.5em;
  font-size: 1em;
  font-family: $font-family;
  border-radius: 3px;
  color: #fff;
  background: $play;
  border: 0;
  box-shadow: 7px 8px #DEDEDE;
  margin-bottom: 2em;
  cursor: pointer;
  -webkit-appearance: none;
  &:active, &:focus {
    box-shadow: none;
    outline: none;
  }
}
