input[type="text"], input[type="email"], input[type="name"], input[type="password"], input[type="file"] {
  box-sizing: border-box;
  padding: .5em 1.5em;
  font-size: 1em;
  font-family: $font-family;
  border-radius: 3px;
  background: #FFFFFF;
  border: 0;
  box-shadow: 7px 8px 0px 0px #DEDEDE;
  width: 100%;
  &:active, &:focus {
    box-shadow: none;
    outline: none;
    width: auto;
  }
}

.form-item {
  display: inline-block;
}