form {
  label {
    color: $heading-color;
    font-weight: 700;
    font-size: 105%;
    padding-bottom: 1em;
    display: inline-block;
  }
  .description {
    font-size: 85%;
    margin: 1em 0;
  }
}

