div#form-message {
    background: #eaeaea;
    padding: 1em;
    font-weight: 700;
    border-radius: 3px;
    display: none;
}
div#fail {
    font-weight: 700;
    color: red;
    margin-top: 1em;
    display: none;
    p {
        margin:0;
    }
}
