textarea {
  width: 100%;
  box-sizing: border-box;
  padding: .5em;
  font-size: 100%;
  border:0;
  border-radius: 3px;
  font-family: $font-family;
  box-shadow: 7px 8px 0px 0px #DEDEDE;
  width: 100%;
  &:active, &:focus {
    outline: none;
    box-shadow: 7px 8px 0px 0px #B9B9B9;
  }
}