.directory-fn-content {
  @include breakpoint($phone-lg2, $no-query: '.no-mq') {
    @include grid-span(8,5);
  }
  h1 {
    color: $explore;
    padding-bottom: 1em;
    &:after {
      content: '';
      background: $explore;
      height: 5px;
      width: 40px;
      display: block;
      margin-top: 1em;
    }
  }
  .directory-address, .directory-phone-site {
   font-size: .9em;
  }
  .directory-address {
    @include breakpoint($phone-lg2, $no-query: '.no-mq') {
      float: left;
      padding-right: 3em;
    }
  }
  .directory-phone-site {
    margin-bottom: 1em;
    @include breakpoint($phone-lg2, $no-query: '.no-mq') {
      overflow: hidden;
    }
    .label {
      font-weight: 700;
      padding-right: .5em;
    }
  }

}
.directory-desc {
  clear: both;
}
.directory-sidebar {
  @include breakpoint($phone-lg2, $no-query: '.no-mq') {
    @include grid-span(3.5,1);
  }
  img {
    display: block;
    margin: 0 auto 1em;
  }
}

#leaflet-map { height: 250px; width: 100%; margin-bottom: 1.5em;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}