.front {
  h1 {
    span {
      font-weight: 700;
    }
  }
  .page-header {
    margin-bottom: 0;
    overflow: hidden;
    .wrap img {
      display: block;
      margin: 0 auto;
    }
    .home-intro-img {
      padding: 8em 0 0;
      max-width: 350px;
      width: 80%;
    }
    .down-arrow img {
      padding-bottom: 5em;
    }
    .intro-bg {
      content: '';
      background: rgba(0,0,0,0.65);
      width: 645px;
      height: 645px;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      // -webkit-filter: blur(50px);
      // filter: blur(50px);
      z-index: -1;
      border-radius: 50%;
      background: url('../images/front-blur-bg.png') no-repeat;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        width: 645px;
      }
    }
  }
}
.front-blocks {
  @include clearfix;
  margin-bottom: 4em;
  position: relative;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    margin-bottom: 0;
  }
  .bg {
    width: 100%;
  }
  p {
    font-size: 110%;
  }
  .backstretch {
    background: #000;
    img {
      opacity: .6;
    }
  }
}
.explore {
  .btn {
    background: $explore;
  }
  h2 {
    color: $explore;
  }
}
.play {
  .btn {
    background: $play;
  }
  h2 {
    color: $play;
  }
}
.work {
  .btn {
    background: $work;
  }
  h2 {
    color: $work;
  }
  .icon-text {
    max-width: 230px;
  }
}
.front-block-details, .front-block-image {
  position: relative;
}
.front-block-details {
  position: relative;
  z-index: 999;
}
.front-block-image {
  @include clearfix;
  line-height: 0;
  height: 500px;
  overflow: hidden;
}
.front-block-header {
  padding: 1em 2em;
  margin-bottom: 2em;
  position: relative;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    padding: 2em 0;
  }
  &:before {
    content: '';
    width: 1000%;
    height: 100%;
    background: url("../images/front-block-header.png");
    position: absolute;
    top: 0;
    right: -100px;
    z-index: -1;
  }
}
.curve-right {
  position: absolute;
  top: 0;
  right: calc(50% - 200px);
  z-index: 999;
  @include breakpoint($phone) {
    display: none;
  }
  &:before {
    content: '';
    width: 1000%;
    height: 100%;
    background: url("../images/front-block-header.png");
    position: absolute;
    top: 0;
    right: -100px;
    z-index: -1;
  }
}
.curve-left {
  position: absolute;
  top: 0;
  left: calc(50% - 200px);
  z-index: 99;
  @include breakpoint($phone) {
    display: none;
  }
}
.front-blocks-odd {
  .front-block-details {
    background: #fff;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      height: 500px;
      padding-right: 2em;
      @include grid-span(5,8,$gutter:0);
    }
  }
  .front-block-image {
    @include breakpoint($tablet, $no-query: '.no-mq') {
       @include grid-span(7,1,$gutter:0);
    }
    @include breakpoint($lg-desktop) {
       @include grid-span(6.85,1,$gutter:0);
    }
  }
}
.front-blocks-even {
  .front-block-details {
    background: #fff;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      padding-left: 2em;
      height: 500px;
      @include grid-span(5,1,$gutter:0);
    }
  }
  .front-block-image {
    @include breakpoint($tablet, $no-query: '.no-mq') {
       @include grid-span(7,6,$gutter:0);
    }
    @include breakpoint($lg-desktop) {
       @include grid-span(6.85,6.15,$gutter:0);
    }
  }
}
.front-block-content {
  padding: 2em 2em 1em;
}
.icons {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 3em 2em;
  max-width: 320px;
  top: 2em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    width: 100%;
    max-width: 325px;
    padding: 0;
  }
}
.icons-bg {
  height: 80%;
  width: 425px;
  background: url("../images/icon-lines.png") no-repeat center center;
  opacity: 0;
  position: absolute;
  animation: spin 90s infinite;
  right: 0;
  margin: 0 auto;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    width: 400px;
    height: 425px;
    opacity: 1;
    left: -11%;
    top: 0;
  }
}
.icon-text {
  position: relative;
  text-align: center;
  display: block;
  margin: -70px auto 0;
  animation: spin-light 1s infinite alternate;
}
.icon-front {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  animation: icon-move 1s infinite alternate;
}
.line {
  background: #fff;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  text-align: center;
  margin: 200px auto 0;
  animation: line-width 1s infinite alternate;
}
.play {
  .icons {
    text-align: center;
  }
  .icon-front {
    margin: 40px auto -90px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    width: 47%;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      margin: 70px auto -95px;
    }
  }
  .icon-text {
    margin: 0 auto;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }
}
.ie9 {
  .icon-text {
    margin-top: 20px;
  }
  .line {
    margin-top: 100px;
  }
  .play {
    .icon-front {
      margin: -100px auto 0;
    }
    .icon-text {
      margin-top: 150px;
    }
  }
}
.lt-ie9 .intro-bg, .ie9 .intro-bg, .ie-modern .intro-bg {
  background: transparent;
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes spin-light {
  from {
    top: 155px;
    transform: rotate(-1deg);
  }
  to {
    top: 165px;
    transform: rotate(1deg);
  }
}
@keyframes icon-move {
  from {
    top: 58px;
    transform: scale(0.7);
  }
  to {
    top: 65px;
    transform: scale(0.8);
  }
}
@keyframes line-width {
  from { width: 80px; }
  to { width: 40px; }
}
