---
layout: page
title: "Commercial Properties"
description:
sub-nav: work
permalink: /commercial-properties/

---
<div class="commercial-properties">
  {% for item in site.properties %}
  {% if item.property-type == 'Commercial' %}
    <div class="commercial-property-teaser">
      <div class="commercial-property-teaser-image">
        <a href="{{ item.url }}" title="{{ item.title }}">
          <img src="{{ item.image_path }}" class="image-border" alt="{{ item.title }}" />
        </a>

      </div>
      <div class="commercial-property-details">
        <a href="{{ item.url }}" title="{{ item.title }}"><h3>{{ item.title }}</h3></a>
        <p class="commercial-property-details-address">
          {{ item.address }}<br>
        	{{ item.city }}, {{ item.state }} {{ item.zip }}
        </p>
      </div>
    </div>
  {% endif %}
  {% endfor %}
</div>
