---
layout: default
---
<div class="page-header">
  <div class="wrap">
    <h1>Explore Downtown</h1>
  </div>
</div>
<main>
  <div class="wrap">
    <div class="back-to-directory"><a href="/explore/business-directory/">Back to Directory</a></div>
    <div class="directory-fn-content">
      <h1>{{page.Business}}</h1>
      <div class="directory-address">
        <p><span class="street">{{page.Street}}</span><br>
        <span class="city">{{page.City}}</span>,
        <span class="state">{{page.State}}</span>
        <span class="zip">{{page.Zip}}</span></p>
      </div>
      <div class="directory-phone-site">
       {% if page.Website != null %}<div class="site-link">
          <span class="label">Website: </span>
          <a href="{{page.Website}}">{{page.Website}}</a></span>
        </div>{% endif %}
         {% if page.Phone != null %}
         <div class="phone">
          <span class="label">Phone: </span><span class="phone">{{page.Phone}}</span>
        </div>{% endif %}
        {% if page.Fax != null %}
         <div class="phone">
          <span class="label">Fax: </span><span class="phone">{{page.Fax}}</span>
        </div>{% endif %}
      </div>
      <div class="directory-desc">
        {{content}}
      </div>
      <div class="listing-contact">
        {% if page.Contact_Name != null %}
         <div class="phone">
          <span class="label">Contact Person: </span><span class="phone">{{page.Contact_Name}}</span>
        </div>
        {% endif %}
        {% if page.Contact_Email != null %}
         <div class="phone">
          <span class="label">Contact Email: </span><span class="phone"><a href="mailto:{{page.Contact_Email}}">{{page.Contact_Email}}</a></span>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="directory-sidebar">
      {% if page.Website != null %}<a href="{{page.Website}}">{% endif %}
      <img src="{{page.Logo_image_path}}" alt="{{page.Business}}" title="{{page.Business}}">
     {% if page.Website != null %}</a>{% endif %}
     <div id="leaflet-map"></div>

    <script type="text/javascript">
      var address = "{{page.Street}}, {{page.City}}, {{page.State}}";
      var map = L.map('leaflet-map').setView([40.424453, -104.691982], 15);
           L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
           }).addTo(map);
       var googleGeocodeProvider = new L.GeoSearch.Provider.Google(),
        addressText = address;
        googleGeocodeProvider.GetLocations( addressText, function (data) {
          var lat = data[0].X;
          var lng = data[0].Y;
          var latlng = [lng, lat];
          var marker = new L.Marker(latlng);
          marker.addTo(map);
          marker.bindPopup("<b>{{page.Business}}</b><br>{{page.Street}}, {{page.City}}, {{page.State}}");
          marker.openPopup();
          map.setView( latlng, 15, {animate:true, duration:0.75, noMoveStart:true, easeLinearity: 0.05});
        });
      </script>
    </div>
  </div>
</main>

<script type="text/javascript">
  $(document).ready(function() {
    $(".page-header").backstretch("{{ site.header_fallback_image_path }}");
  });
</script>
