---
layout: default
---
  <div class="page-header">
    <div class="wrap">
      <div class="intro-bg"></div>
     <img class="home-intro-img" src="assets/images/home-intro.svg" />
     <a class="down-arrow" href="#"><img src="assets/images/down.svg" alt=""></a>
    </div>
  </div>

	<main>
		<div class="wrap">
			 {{ content }}
    </div>
	</main>


  <script type="text/javascript">
  $(document).ready(function() {
    $(".page-header").backstretch("{{ page.header_image_path }}");
  });
</script>