---
layout: default
---
  <div class="page-header">
    <div class="wrap">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

	<main >
		<div class="wrap">
			<div class="main-content clearfix">
        {{ content }}
        
         {% if page.url == "contact" %}
            {% include contactform.html %}
         {% endif %}
      </div>
      <div class="sidebar">
        {% if page.sub-nav == "explore" %}
          {% include sub-nav.html nav=site.data.explore-menu  %}
        {% elsif page.sub-nav == "play" %}
          {% include sub-nav.html nav=site.data.play-menu  %}
        {% elsif page.sub-nav == "work" %}
          {% include sub-nav.html nav=site.data.work-menu  %}
         {% elsif page.sub-nav == "more" %}
          {% include sub-nav.html nav=site.data.more-menu  %}
         {% else %}
        {% endif %}

        {% if page.permalink == "/directory/" %}
          {% include directory-filter.html  %}
        {% endif %}

      </div>
    </div>
	</main> 

  <script type="text/javascript">
  $(document).ready(function() {
    $(".page-header").backstretch("{{ page.header_image_path }}");
  });
</script>