---
layout: default
---
  <div class="page-header">
    <div class="wrap">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

	<main>
		<div class="wrap">
			{{ content }}
      {% if page.sub-nav == "about" %}
        {% include sub-nav.html nav=site.data.about-menu  %}
       {% else if page.sub-nav == "work" %}
       {% include sub-nav.html nav=site.data.work-menu  %}
      {% endif %}
    </div>
	</main> 

  <script type="text/javascript">
  $(document).ready(function() {
    $(".page-header").backstretch("{{ page.header_image_path }}");
  });
</script>