---
layout: default
---
<div class="page-header">
  <div class="wrap">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<main>
  <div class="wrap">
    <div class="main-content clearfix">
      <div class="editable">{{ content }}</div>
      <div>
        {% if page.url == "/contact/" %}
          {% include contact-form.html %}
        {% elsif page.url == "/get-involved/" %}
          {% include get-involved-form.html %}
        {% elsif page.url == "/events-at-a-glance/" %}
          {% include events-at-a-glance.html %}
        {% elsif page.url == "/district-map/" %}
          {% include district-map.html %}
        {% elsif page.url == "/parking-map/" %}
          {% include parking-map.html %}
        {% elsif page.url == "/dda-board-directors/" %}
          {% include dda-meeting-minutes.html %}
        {% elsif page.url == "/greeley-downtown-alliance/" %}
          {% include gda-meeting-minutes.html %}
        {% elsif page.url == "/play/signature-events/" %}
          {% include signature-events.html %}
        {% elsif page.url == "/work/business-incentives/" %}
          {% include business-incentives.html %}
        {% endif %}
      </div>
    </div>
    <div class="sidebar">
      {% if page.sub-nav == "explore" %}
        {% include sub-nav.html nav=site.data.explore-menu %}
      {% elsif page.sub-nav == "play" %}
        {% include sub-nav.html nav=site.data.play-menu %}
        {% assign url_parts = page.url | split: '/' %}
        {% assign url_parts_size = url_parts | size %}
        {% if page.url contains "/play/signature-events/" and url_parts_size > 3 %}
          <ul class="sub-nav hide">
            <li><h4>Signature Events</h4></li>
            {% assign items = site.signature_events | sort: 'weight' %}
          	{% for post in items limit:5 %}
        	    <li>
        	      <a href="{{ post.url }}">{{ post.title }}</a>
        	    </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% elsif page.sub-nav == "work" %}
        {% include sub-nav.html nav=site.data.work-menu %}
      {% elsif page.sub-nav == "more" %}
        {% include sub-nav.html nav=site.data.more-menu %}
      {% elsif page.sub-nav == "help" %}
        {% include toc.html %}
      {% endif %}
      {% if page.permalink == "/directory/" %}
        {% include directory-filter.html %}
      {% endif %}
    </div>
  </div>
</main>
<script type="text/javascript">
  $(document).ready(function() {
    $(".page-header").backstretch("{{ page.header_image_path }}");
  });
</script>
